.body{
  background-color: #0f1824; 
}
.container{
  margin: 0 auto;
  display: block;
  max-width: 800px;
  text-align: center;
  margin-top: 20px;
}
.title{
  color: #f0889e; 
  font-size: 90px;
  text-align: center;
text-shadow:  20px 20px 40px rgba(0,0,0,0.5);
  margin-top: 80px;
}
.sub-heading{
  color: white;
}
button{
padding: 30px 50px;

border: none;

cursor: pointer;
box-shadow: 20px 20px 40px rgba(0,0,0,0.2);
}
button:hover{
  color: rgb(0, 0, 0);
  width: 180px;
  border-color: rgb(204, 0, 105);
  border-width: 3px;
  border-style: solid;
}
.music-button{
  background-image: url(Images/crash.png);
  background-repeat: no-repeat;
  margin: 20px;
  border-radius: 80px;
  transition: all 200ms ease-in-out;
  background-position: top;
  background-size: cover;
  }
  .music-button:hover{
    opacity: 0.5;
  }
  